{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/metar_tester/sub_base.css' %}">
    <script type="text/javascript" src="{% static 'js/metar_tester/sub_base.js' %}"></script>
    {% block sub_head %}{% endblock %}
{% endblock head %}

{% block body %}
    <div id="banner">
        <h1 id="title">Weather METAR Test</h1>
        <div id="navigation">
            <a onclick="start_new()">Start a new test</a>
            <a href="https://en.wikipedia.org/wiki/METAR">What is METAR?</a>
            <a href="https://github.com/Rhodri-Morgan/METAR-Tester" id="end_navigation">Github Repository</a>
        </div>
    </div>
    {% block sub_body %}{% endblock %}
{% endblock body %}
