{% extends 'base.html' %}
{% load static %}
{% load dict_access %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/metar_tester/sub_base.css' %}">
    <script type="text/javascript" src="{% static 'js/metar_tester/sub_base.js' %}"></script>
    {% block sub_head %}{% endblock %}
{% endblock head %}

{% block body %}
    <div id="banner">
        <h1 id="title">Weather METAR Practice</h1>
        <div id="navigation">
            <a href="https://en.wikipedia.org/wiki/METAR" class='navigation_element'>What is METAR?</a>
            <a href="https://github.com/Rhodri-Morgan/METAR-Tester" id="end_navigation" class='navigation_element'>Github Repository</a>
        </div>
    </div>
    {% block sub_body %}{% endblock %}
    <div id='footer'>
        <hr id='proxy_margin_footer' />
        {% if status == 200 %}
            <p><span class='status_dot' id="active_status_dot"></span> Currently using live METAR data.</p>
        {% else %}
            <p><span class='status_dot' id="inactive_status_dot"></span> Currently using historial METAR data. METAR API service code {{ status }}.</p>
        {% endif %}
        <hr id='proxy_margin_footer' />
        <p>Using METAR data sourced from <img src="{% static 'images/metar_tester/avwx.png' %}" id='avwx_image'> <a href="https://avwx.rest/#">AVWX by Michael duPont</a></p>
        <hr id='proxy_margin_footer' />
    </div>
{% endblock body %}
