{% extends 'metar_practice/sub_base.html' %}
{% load static %}
{% load dict_access %}
{% load list_access %}


{% block sub_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/metar_practice/practice.css' %}">
    <script id="airport_location" type="application/json">{"latitude": {{ airport|lookup:'latitude' }}, "longitude": {{ airport|lookup:'longitude' }}}</script>
    <script type="text/javascript" src="{% static 'js/metar_practice/practice.js' %}"></script>
    <!-- MUST RESTRICT API USAGE -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5RVyFfpgAOueO-LEsqF8uv6RhHLz8rcs&callback=initMap&libraries=&v=weekly&channel=2" async></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/metar_practice/debug.js' %}"></script>
{% endblock sub_head %}

{% block sub_body %}
    <div id='core'>
        <div id='metar_container'>
            <h2 id='metar'>{{ metar|lookup:'raw' }}</h2>
        </div>
        <div id='airport'>
            <div id='map'>
                <!--In goes google map-->
            </div>
            <div id='details'>
                <h3 id='details_header'>Airport Details</h3>
                <p class='details_item'><b>Name: </b>{{ airport|lookup:'name' }}</p>
                <p class='details_item'><b>ICAO: </b>{{ airport|lookup:'icao' }}</p>
                <p class='details_item'><b>Country: </b>{{ airport|lookup:'country' }}</p>
                <p class='details_item'><b>City: </b>{{ airport|lookup:'city' }}</p>
                <br>
                <p class='details_item'><b>Latitude: </b>{{ airport|lookup:'latitude' }}</p>
                <p class='details_item'><b>Longitude: </b>{{ airport|lookup:'longitude' }}</p>
            </div>
        </div>
        <hr id='divider'>
        <div id='question_container'>
            <h3 id='question'>{{ question|lookup:'text' }}</h3>
            <!-- Answer revealer goes here -->
            <button id='answer_revealer' onclick='reveal_answer()'>Reveal Answer</button>
            <div id='answer_container'>
                <!-- YOU SHOULD NOT BE LOOKING HERE :) -->
                {% if question|lookup:'answers'|length == 1 %}
                    <p class='answer'>{{ question|lookup:'answers'|index:0|lookup:'text' }}</p>
                {% else %}
                    <div id='multiple_answer_container'>
                        <ul id='answer_list'>
                            {% for item in question|lookup:'answers' %}
                                <li class='answer'>{{ item|lookup:'text' }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% csrf_token %}
                <form id='report_form' method="post">
                    {% csrf_token %}
                    <p class='report_item'>{{ report_form.description.label }}</p>
                    <p>{{ report_form.description }}</p>
                    <p class='report_item'>{{ report_form.description.help_text }}</p>
                    <input id='submit_report_form' type="submit" value="Submit">
                </form>
                <button id='new_question' onclick="refresh_page()">Generate another question!</button>
            </div>
        </div>
    </div>
    <script>
        var csrf_token = '{{ csrf_token }}';
    </script>
{% endblock sub_body %}
