{% extends 'base.html' %}
{% load static %}
{% load dict_access %}


{% block head %}
    <link rel="shortcut icon" href="{%  static 'images/metar_practice/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/metar_practice/sub_base.css' %}">
    <script type="text/javascript" src="{% static 'js/metar_practice/sub_base.js' %}"></script>
    {% block sub_head %}{% endblock %}
{% endblock head %}

{% block body %}
    {% if logged != None %}
        <div id='logged_container'>
            <p id='logged'>{{ logged }}</p>
        </div>
    {% endif %}
    <div id="banner">
        <h1 id="title">Weather METAR Practice</h1>
        <div id="navigation">
            <a href="https://en.wikipedia.org/wiki/METAR" class='navigation_element'>What is METAR?</a>
            <a href="https://github.com/Rhodri-Morgan/METAR-Tester" id="end_navigation" class='navigation_element'>Github Repository</a>
        </div>
    </div>
    {% block sub_body %}{% endblock %}
    <div id='footer'>
        <hr id='proxy_margin_footer_top' />
        <p>Using METAR data sourced from <img src="{% static 'images/metar_practice/avwx.png' %}" id='avwx_image'> <a href="https://avwx.rest/#">AVWX by Michael duPont</a></p>
        <hr id='proxy_margin_footer_bottom' />
    </div>
{% endblock body %}
