{% extends 'base.html' %}
{% load static %}
{% load dict_access %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/metar_practice/sub_base.css' %}">
    <script type="text/javascript" src="{% static 'js/metar_practice/sub_base.js' %}"></script>
    {% block sub_head %}{% endblock %}
{% endblock head %}

{% block body %}
    {% if logged != None %}
    <div id='logged_container'>
        <p id='logged'>{{ logged }}</p>
    </div>
    {% endif %}
    <div id="banner">
        <h1 id="title">Weather METAR Practice</h1>
        <div id="navigation">
            <a href="{% static 'pdfs/metar_practice/metar_guide.pdf' %}" target="_blank" class='navigation_element'><i class="far fa-file-pdf navigation_bar_icons"></i>How do I decode METAR reports?</a>
            <a href="https://www.aviationweather.gov/metar" target="_blank" class='navigation_element'><i class="fas fa-globe-europe navigation_bar_icons"></i>Search for METAR from any ICAO</a>
        </div>
    </div>
    {% block sub_body %}{% endblock %}
{% endblock body %}

{% block footer %}
    <p>Pulling from a base of {{ database_data|lookup:'questions_count' }} questions and {{ database_data|lookup:'airports_count' }} airports using METAR data sourced from <img src="{% static 'images/metar_practice/avwx.png' %}" id='avwx_image'> <a id='avwx_link' href="https://avwx.rest/#">AVWX by Michael duPont</a></p>
    <hr class='proxy_margin_footer'/>
{% endblock footer %}

