#core {
    margin-left: max(39px, min(5.5vh, 81.7px));
    margin-right: max(39px, min(5.5vh, 81.7px));
}

#metar_container {
    width: 100%;
    margin-bottom: max(17px, min(2.4vh, 35.7px));
}

#metar {
    padding: max(14.2px, min(2vh, 29.7px));
    text-align: center;
    font-size: max(11.3px, min(1.6vh, 23.8px));
    text-shadow: max(0.57px, min(0.08vh, 1.2px)) max(0.57px, min(0.08vh, 1.2px)) #000000;
    background-color: #232b38;
    border-radius: max(7.1px, min(1vh, 14.9px));
    line-height: 150%;
}

#map {
    float: left;
    width: max(554px, min(78vh, 1159px));
    height: max(170px, min(24vh, 357px));
    border-radius: max(7.1px, min(1vh, 14.9px));
}

#details {
    height: max(170px, min(24vh, 357px));
    margin-left: max(580px, min(81.75vh, 1215px));
    overflow-y: auto;
}

#details_header {
    text-decoration: underline;
    text-align: center;
    padding-bottom: max(17px, min(2.4vh, 35.7px));
    font-size: max(10.7px, min(1.5vh, 22.3px));
    text-shadow: max(0.5px, min(0.075vh, 1.1px)) max(0.5px, min(0.075vh, 1.1px)) #000000;
}

.details_item {
    font-size: max(8.52px, min(1.2vh, 17.8px));
    text-shadow: max(0.43px, min(0.06vh, 0.89px)) max(0.43px, min(0.06vh, 0.89px)) #000000;
    padding-bottom: max(7.1px, min(1vh, 14.9px));
}

#divider {
    margin-top: max(17px, min(2.4vh, 35.7px));
    margin-bottom: max(17px, min(2.4vh, 35.7px));
    width: 100%;
    text-align: center;
}

#question_container {
    text-align: center;
}

#question {
    text-align: center;
    font-size: max(14.2px, min(2vh, 29.7px));
    text-shadow: max(0.71px, min(0.1vh, 1.49px)) max(0.71px, min(0.1vh, 1.49px)) #000000;
    padding-bottom: max(7.1px, min(1vh, 14.9px));
}

#answer_revealer {
    background-color: #c40000;
    border: max(0.71px, min(0.1vh, 1.49px)) solid #c40000;
    font-size: max(12px, min(1.7vh, 25.3px));
    text-shadow: max(0.6px, min(0.085vh, 1.26px)) max(0.6px, min(0.085vh, 1.26px)) #000000;
    width: max(135px, min(19vh, 282px));
    padding-top: max(3.6px, min(0.5vh, 7.4px));;
    padding-bottom: max(3.6px, min(0.5vh, 7.4px));;
    border-radius: max(7.1px, min(1vh, 14.9px));
}

#answer_revealer:hover {
    background-color: #a70000;
    border: max(0.71px, min(0.1vh, 1.49px)) solid #a70000;
    cursor: pointer;
}

#answer_revealer:active {
	position:relative;
	top: max(0.71px, min(0.1vh, 1.49px));
}

.answer {
    font-size: max(12px, min(1.7vh, 25.3px));
    text-shadow: max(0.6px, min(0.085vh, 1.26px)) max(0.6px, min(0.085vh, 1.26px)) #000000;
    color: #008000;
}

#multiple_answer_container {
    display: inline-block;
}

#answer_list {
    list-style-type: square;
    text-align: left;
    list-style-position:inside;
}

#answer_container {
    opacity: 0;
    display: none;
}

@keyframes fade_in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.fade_in_effect {
    animation: fade_in 1s linear forwards;
}

#report_form {
    margin: auto;
    margin-top: max(7.1px, min(1vh, 14.9px));
    padding: max(7.1px, min(1vh, 14.9px));
    width: max(412px, min(58vh, 862px));
    background-color: #232b38;
    border-radius: max(14.2px, min(2vh, 29.7px));
}

#description_text_area {
    font-size: max(10.7px, min(1.5vh, 22.3px));
    width: max(270px, min(38vh, 565px));
    height: max(27px, min(3.8vh, 56.5px));
    padding: max(3.6px, min(0.5vh, 7.4px));;
    margin-bottom: max(3.6px, min(0.5vh, 7.4px));;
    resize: none;
}

.report_item {
    font-size: max(10.7px, min(1.5vh, 22.3px));
    text-shadow: max(0.5px, min(0.075vh, 1.1px)) max(0.5px, min(0.075vh, 1.1px)) #000000;
    margin-bottom: max(3.6px, min(0.5vh, 7.4px));;
}

#submit_report_form {
    display: none;
}

#new_question {
    background-color: #006d00;
    border: max(0.71px, min(0.1vh, 1.49px)) solid #006d00;
    font-size: max(12px, min(1.7vh, 25.3px));
    text-shadow: max(0.6px, min(0.085vh, 1.26px)) max(0.6px, min(0.085vh, 1.26px)) #000000;
    width: max(202px, min(28.5vh, 424px));
    margin-top: max(14.2px, min(2vh, 29.7px));
    padding-top: max(3.6px, min(0.5vh, 7.4px));;
    padding-bottom: max(3.6px, min(0.5vh, 7.4px));;
    border-radius: max(7.1px, min(1vh, 14.9px));
}

#new_question:hover {
    background-color: #005700;
    border: max(0.71px, min(0.1vh, 1.49px)) solid #005700;
    cursor: pointer;
}

#new_question:active {
	position:relative;
	top: max(0.71px, min(0.1vh, 1.49px));
}
