body {
    min-width: 852px;
    min-height: 710px;
}

#content {
    min-width: 852px;
    min-height: 710px;
    max-width: 2560px;
    max-height: 1485px;
    width: 120vh;
    height: 100vh;
}

#logged_container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #0000ff;
    width: 100vw;
    text-align: center;
}

#logged {
    font-size: max(8.5px, min(1.2vh, 17.6px));
    text-shadow: max(0.42px, min(0.06vh, 0.89px)) max(0.42px, min(0.06vh, 0.89px)) #000000;
    padding-top: max(3.6px, min(0.5vh, 7.4px));
    padding-bottom: max(3.6px, min(0.5vh, 7.4px));
}

#banner {
    background-color: #0d1117;
    display: inline-block;
    padding-top: max(22.7px, min(3.2vh, 47.6px));
    padding-bottom: max(17px, min(2.4vh, 35.7px));
    text-align: center;
    width: 100%;
    height: max(74.5px, min(10.5vh, 156px));
    margin-bottom: max(14.2px, min(2vh, 29.7px));
}

#title {
    padding-bottom: max(7.1px, min(1vh, 14.9px));
    margin: 0 0;
    font-size: max(36.9px, min(5.2vh, 77.2px));
    text-shadow: max(1.85px, min(0.26vh, 3.86px)) max(1.85px, min(0.26vh, 3.86px)) #000000;
}

#navigation {
    width: max(417px, min(58.7vh, 873px));
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    background-color: #232b38;
    border-top-left-radius: max(7.1px, min(1vh, 14.9px));
    border-top-right-radius: max(7.1px, min(1vh, 14.9px));
}

#navigation a {
    float: left;
    text-align: center;
    padding: max(9.94px, min(1.4vh, 20.8px)) max(14.2px, min(2vh, 29.7px));
    text-decoration: none;
    font-size: max(10.7px, min(1.5vh, 22.2px));
    text-shadow: max(0.5px, min(0.075vh, 1.1px)) max(0.5px, min(0.075vh, 1.1px)) #000000;
}

#navigation a:hover {
    background-color: #3a485e;
    cursor: pointer;
}

#navigation_bar_icons {
    float: left;
    height: max(10.7px, min(1.5vh, 22.2px));
    width: max(10.7px, min(1.5vh, 22.2px));
    padding-right: max(7.1px, min(1vh, 14.9px));
}

#avwx_image {
    height: 0.9em;
}
